<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img id="logoInHeader" class="animate__animated animate__zoomIn" src="logo-black.png" width="40px" style="position: relative; top: 7px;" alt="">
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/Home" class="nav-link px-4" style="color: black;" >Home</a></li>
        <li><a href="/Products" class="nav-link px-4" style="color: black;">Products</a></li>
        <li><a href="#" class="nav-link px-4" style="color: black;">Contact Us</a></li>
      </ul>
    </header>
  </div>