<div class="container text-center">
    <h1 class="mt-4 animate__animated animate__fadeIn" style="letter-spacing: 1px; color: white; font-size: 4vw; position: relative; top: 12px;">The Laptop Haven</h1>
    <h1 class="mt-1 animate__animated animate__fadeIn" style="letter-spacing: 3px; color: white; font-size: 4vw; position: relative; top: 13px; ">For all <span id="typing-Text" style="background-image: -webkit-radial-gradient(white,#8514F5); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{value}}</span></h1>

    <p class="animate__animated animate__fadeIn" style="position: relative; color: #7e7e7e; top: 43px;  ">If your want a buy you have to sign in</p>
    <div id="btn-group" class="row animate__animated animate__fadeIn">
    <button class="col" (click)="navigateToHome()" style="margin-right: 2vw;">Home</button>
    <button class="col" (click)="navigateToSignIn()" style="margin-right: 2vw;">Sign in</button>
    </div>

    <p class="animate__animated animate__fadeIn" style="position: relative; top: 73px; color: #7e7e77; ">Available to all of your employee regardless of credit.</p>
</div>