<div class="col">
    <div class="d-grid d-sm-flex gap-3 gap-xl-4">
        <div class="d-flex col-sm-3 d-sm-block flex-shrink-0">
            <img class="rounded shadow w-100 img-fluid" src="msiLaptop.png" width="96" height="96">
        </div>
        <div class="lc-block w-100">
            <div class="d-flex gap-2 align-items-baseline">
                <div>
                    <h3 class="h5 fw-bold">{{card?.name}}</h3>
                </div>
                <div class="flex-grow-1 border_restaurant opacity-25"></div>
                <div>

                    <strong class="h5">Rs. 7500 000</strong>

                </div>
            </div>
            <div class="lc-block opacity-50">

                Fresh garden vegetables tossed with penne pasta in a light garlic and olive oil sauce.

            </div>
        </div>
    </div>
</div>