<div class="container-fluid" style="overflow: hidden; background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); width: 100%; height: 100vh;">
    <div class="row" style="height: 100%;">
        <div class="col-md-5">

            <h3 style="margin-top: 8rem; margin-left: 5rem;">MSI Zenbook A1</h3>
            <ul class="list-group" style="margin-top: 3rem; margin-left: 6rem; list-style: none; line-height: 35px; font-size: 18px;">
                <li>An item</li>
                <li>A second item</li>
                <li>A third item</li>
                <li>A fourth item</li>
                <li>And a fifth one</li>
                <li>And a fifth one</li>
                <li>And a fifth one</li>
              </ul>

              
        </div>
        <div class="col-md-7 text-center">
            <div style="left: 30vw; width: 430px; aspect-ratio: 1/1; border-radius: 100%; background-color: plum; position: relative; right: 0;"></div>
            <div style="width: 330px; aspect-ratio: 1/1; border-radius: 100%; opacity: 50%; background-color: plum; position: relative; right: -20vw; bottom: 26vh;"></div>
            <div style=" width: 210px; aspect-ratio: 1 / 1; border-radius: 100%; opacity: 20%; background-color: plum; position: relative; bottom: 36vh; right: -16vw;"></div>
            <div>
                <img src="msiLaptop.png" width="450px" alt="" style="top: -108vh; position: relative;">
            </div>
        </div>
    </div>
</div>
