<div class="container">
    <div class="text-center" style="margin-top: 6rem;">
        <h2 style="font-family: Arial;  ">Discover the Best Products</h2>
    </div>
    <div class="row text-center" style="margin-top: 4rem;">
        <div class="col-md-6 mb-2">
            <img src="homeimg-large.png" width="350px" height="170px" alt="">
            <p class="mt-3">Stealth 18 Mercedes - AMG Motorsport A1V</p>
            <p style="position: relative; top: -15px;">Luxury Gaming Experience</p>
        </div>
        <div class="col-md-6 mb-2">
            <img src="landing-azus-background.png" width="350px" height="170px" alt="">
            <p class="mt-3">Azus Zenbook 17  -  OLED display</p>
            <p style="position: relative; top: -15px;">Brighter Colors, Sublime Black Levels</p>
        </div>
    </div>
</div>