<div class="container">
    <div class="text-center" style="margin-top: 6rem;">
        <h2 style="font-family: Arial;  ">Discover the Best Products</h2>
    </div>
    <div class="row text-center" style="margin-top: 4rem;">
        <div class="col-md-6 mb-2">
            <img src="homeBnewimg.png" width="250px" alt="">
            <p class="mt-3">Brand New</p>
        </div>
        <div class="col-md-6 mb-2">
            <img src="homeUlapimg.png" width="250px" alt="">
            <p class="mt-3">Used</p>
        </div>
    </div>
</div>