<div class="text-center">
    <h2 style="font-family: Arial;">Browse Categories</h2>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="height: auto; color: gray;">
            
            <div>
                <h6 class="mt-5 ml-2" style="color: black;">Brand</h6>
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label">ALL&nbsp;&nbsp;&nbsp;</label>
                          </div>
                    </div>
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                            <label class="form-check-label">DELL&nbsp;</label>
                          </div>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                            <label class="form-check-label">HP&nbsp;&nbsp;&nbsp;&nbsp;</label>
                          </div>
                    </div>
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                            <label class="form-check-label">AZUS&nbsp;</label>
                          </div>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                            <label class="form-check-label">ACER&nbsp;</label>
                          </div>
                    </div>
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                            <label class="form-check-label">LENOVO</label>
                          </div>
                    </div>
                </div>
                <div>
                </div>
            </div>


            <div class="mt-2 ml-2">
                <h6 class="mt-2 ml-2" style="color: black;">Price</h6>
                <input type="range" class="form-range" min="0" max="1 000 000">
                <div class="input-group mb-3 input-group-sm">
                   <input type="text" class="form-control" placeholder="5 000 000">
                 </div>
            </div>

            <div>
                <h6 class="mt-2 ml-2" style="color: black;">Display</h6>
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                            <label class="form-check-label">ALL&nbsp;&nbsp;&nbsp;&nbsp;</label>
                          </div>
                    </div>
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                            <label class="form-check-label">16`</label>
                          </div>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                            <label class="form-check-label">14`</label>
                          </div>
                    </div>
                </div>
                <div>
                </div>
            </div>

            
            <div>
                <h6 class="mt-2 ml-2" style="color: black;">Processor</h6>
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                            <label class="form-check-label">i3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                          </div>
                    </div>
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                            <label class="form-check-label">i5&nbsp;</label>
                          </div>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                            <label class="form-check-label">i7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                          </div>
                    </div>
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                            <label class="form-check-label">i11&nbsp;</label>
                          </div>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                            <label class="form-check-label">intel&nbsp;&nbsp;</label>
                          </div>
                    </div>
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
                            <label class="form-check-label">celeron</label>
                          </div>
                    </div>
                </div>
                <div>
                </div>
            </div>



        </div>

        <div class="container my-4 col-md-10 mt-5">
            <div class="row justify-content-center">
              <div>
                <div class="row justify-content-center">

                  @if(cards?.length){
                  @for (card of cards; track $index) {
                    <div class="col-lg-4 d-flex justify-content-center mb-4">
                      <app-card [category]="card"></app-card>
                     </div>
                  }
                }
                @else {
                  <h5 style="justify-content: center; color: gray;">No Products to show!</h5>
                }
                
          
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="row mt-5 mb-5">
    <div class="text-center">
        <div class="btn btn-one" style="height: 61px; width: 120px; color: black; background-color: rgb(236, 230, 230);">
          <span>View more</span>
        </div>
      </div>
    </div>
</div>